<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Corate</h1>
    </ion-header-bar>
    <ion-content ng-controller="ExampleController">

        <div class="row">
            <button class="button button-dark button-block" ng-click="process()">Get Articles from TW / Pocket (This is just for simulation, it should be run periodically in the backend on daily basis)</button>
        </div>

        <div class="row">
            <button class="button button-dark button-block" ng-click="getArticles()">Show 3 selected Articles</button>
        </div>

        <div ng-repeat="article in articles">
            <div class="card">
                <div class="item item-text-wrap">
                    {{ article['excerpt'] }}
                </div>
            </div>
        </div>
    </ion-content>
</ion-pane>
