<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Corate</h1>
    </ion-header-bar>
    <ion-content ng-controller="ExampleController">
        <div class="row">
            Version: {{ version }}
        </div>
        <div class="row">
            Sign in with :
        </div>
        <div class="row">
            <button class="button button-dark button-block" ng-click="twitterLogin()">Twitter</button>
        </div>
        <div class="row">
            <button class="button button-dark button-block" ng-click="pocketLogin()">Pocket</button>
        </div>
        <div class="row">
            Status: {{ status }}
        </div>

    </ion-content>
</ion-pane>
